/* navbar */
.container {
    padding: 2px;
}

.nav {
    text-align: center;
}

.nav li {
    padding: 6px;
    display: inline;
    margin-right: 30px;
}

.nav a {
    color: #fff; /
    text-decoration: none;
    padding: 4px;
}

.nav a:hover {
    background-color: #555;
    border-radius: 4px;
}


body {
    font-family: monaco, sans-serif;
    background-color: #1e2022;
}

/* tabla estados */
.tContainer {

    height: 100%;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #121313;
    border-radius: 20px;

}


.tEstados{
    width: 100%;
    text-align: center;
    border: none;
}
.tEstados2{

    font-family: monaco, sans-serif;
    color: rgba(49, 124, 209, 0.84);
    font-size: 40px;

}

.tEstados3 {
    color: rgba(232, 232, 232, 0.84);
    font-size: 25px;
    padding-top: 4px;
    padding-bottom: 20px;
    font-weight: bold;

}

/* tabla datos */
.dataContainer {

    height: 100%;
    padding: 20px;

    border-radius: 20px;

}

.tData {
    border-collapse: collapse;

    font-family: monaco, sans-serif;
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid #434343;
    background-color: #121313;

}
.tData th, tr {
    border: 1px solid #5c5c5c;
    padding: 4px;
    color: white;



}
.tData td {
    border: 1px solid #535353;
    padding: 4px;
    color: white;

}

/* formulario archivo */
.archivo {
    display: grid;
    place-items: center;
    padding: 10px;
}

.center-div {
    width: 50%;
}